body {
    display: inline;
    background-color: green;
}
#kalam{
    display: inline;
    background-color: aliceblue;
    border: 1px none black;
    border-collapse: collapse;
}
ul{
    
}
#ink{

}